{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h2>送金手続き</h2>
        <p class="text-center">「{{ source.number }}」から「{{ destination.number }}」へ{{ money }}円の送金が完了しました</p>
        <p class="text-center"><a href="{{ path('app_site_transfermoney_form') }}" class="btn btn-dark">戻る</a>
        <hr>
        <h3>残金</h3>
        <div class="row">
            <div class="col">
                <table class="table table-bordered">
                    <tr>
                        <th>口座番号</th>
                        <td>{{ source.number }}</td>
                    </tr>
                    <tr>
                        <th>名前</th>
                        <td>{{ source.name }}</td>
                    </tr>


                    <tr>
                        <th>金額</th>
                        <td>{{ source.money|number_format }}円</td>
                    </tr>
                </table>
            </div>
            <div class="col">
                <table class="table table-bordered">
                    <tr>
                        <th>口座番号</th>
                        <td>{{ destination.number }}</td>
                    </tr>
                    <tr>
                        <th>名前</th>
                        <td>{{ destination.name }}</td>
                    </tr>


                    <tr>
                        <th>金額</th>
                        <td>{{ destination.money|number_format }}円</td>
                    </tr>
                </table>
            </div>

        </div>

    </div>
{% endblock %}